---
layout: default
---
<script src="//cdn1.lncld.net/static/js/3.0.4/av-min.js"></script>
    <!--Valine 的核心代码库-->
    <script src="/assets/js/scale.fix.js"></script>
    <script>
        new Valine({
            av: AV, 
            el: '.comment',
            emoticon_url: 'https://cloud.panjunwen.com/alu',
            emoticon_list: ["吐.png","期待.png","高兴.png","吐血倒地.png","哭泣.png","欢呼.png"],
            app_id: 'xxG5I8sArJXlJOsMnUGrUK9q-gzGzoHsz', // 这里填写上面得到的APP ID
            app_key: 'cSvqqASxQqdSE3fgDGtQX832', // 这里填写上面得到的APP KEY
            placeholder: 'ヾﾉ≧∀≦)o来啊，快来评论!', // 留言框占位提示文字
        });
    </script>

<script src="https://cdnjs.loli.net/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<small>{{ page.date | date: "%-d %B %Y" }}</small>
<h1>{{ page.title }}</h1>

<p class="view">by {{ page.author | default: site.author }}</p>

<!-- <p text-indent:2em>{{content}}</p> --> 
<!-- 上句无效 -->

{{content}}

{% if page.tags %}
  <small>tags: <em>{{ page.tags | join: "</em> - <em>" }}</em></small>
{% endif %}

<div class="comment"></div>
